body {
  margin-top: 60px;
  background-color: white;
}

.jumbotron {
  background-color: #C0E1F0;
}

#warning {
  color: red;
  display: none;
}

#contact, #role, #loan, #stage, #name, #sit, #quest {
	font-weight: bold;
}

#searchinput {
    width: 200px;
}
#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}