body {
  margin-top: 60px;
  background-color: white;
  color: #fdf9f3;
  text-shadow: 0px 1px 5px #3f3f3f;
}

.jumbotron {
  background-color: #C0E1F0;
}

.buttonGrid {
	padding: 0;
	margin-top: 7px;
}

#warning {
  color: white;
  visibility: hidden;
  height: 10px;
  margin-top: 10px;
  text-shadow: 0px 0px 15px #000040;

}

#contact, #role, #loan, #stage, #name, #sit, #quest, #ticket, #request {
	font-weight: bold;
}

